build*/
logs
.vscode
__pycache__
*.dot
*.png
*.plist
*.ii
*.cg
*.rf
*.fs
test*.py
*.cf
.cache
*.sum
repos/*
!repos/*.json
!repos/result/data_in_paper
*.log
myenv*
*.ics
diff_lines.txt
functions.txt
*.fixit
*.anr
*.cpprf
*.egg-info
icebear